<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join the Club</title>
</head>
<body>
    <h1>Join the Club</h1>
    <a href="/">Home</a>
    <p>Members are able to see behind the curtain to see who is behind the messages on the message board. Enter the correct password in the field below to join.</p>
    <form method="POST" action="/members/join-the-club">
        <label for="email">Email:</label>
        <input type="text" name="username" id="email" />
        <label for="secret-password">Secret Password:</label>
        <input id="secret-password" name="secretPassword" type="password"/>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>