<body>
    <h1>Add a Message</h1>
    <form action="/members/message" method="POST">
      <label for="title">Title:</label>
      <input id="title" name="title" placeholder="title" type="text"/>
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="6" cols="50" placeholder="Add your message here."></textarea>
      <button type="submit">Send</button>
    </form>
</body>